<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="6.4.4" targetFramework="net48" />
  <package id="Extended.Wpf.Toolkit" version="4.7.25104.5739" targetFramework="net48" />
  <package id="Hardcodet.NotifyIcon.Wpf" version="2.0.1" targetFramework="net48" />
  <package id="Hardcodet.Wpf.TaskbarNotification" version="1.0.5" targetFramework="net48" />
  <package id="HarfBuzzSharp" version="8.3.1.1" targetFramework="net48" />
  <package id="HarfBuzzSharp.NativeAssets.macOS" version="8.3.1.1" targetFramework="net48" />
  <package id="HarfBuzzSharp.NativeAssets.Win32" version="8.3.1.1" targetFramework="net48" />
  <package id="LiveChartsCore" version="2.0.0-rc5.4" targetFramework="net48" />
  <package id="LiveChartsCore.SkiaSharpView" version="2.0.0-rc5.4" targetFramework="net48" />
  <package id="LiveChartsCore.SkiaSharpView.WPF" version="2.0.0-rc5.4" targetFramework="net48" />
  <package id="MaterialDesignColors" version="5.3.0-ci1108" targetFramework="net48" />
  <package id="MaterialDesignThemes" version="5.3.0-ci1108" targetFramework="net48" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="10.0.0-preview.7.25380.108" targetFramework="net48" />
  <package id="Microsoft.NET.ILLink.Tasks" version="10.0.0-preview.7.25380.108" targetFramework="net48" />
  <package id="Microsoft.Win32.Registry" version="5.0.0" targetFramework="net48" />
  <package id="Microsoft.Xaml.Behaviors.Wpf" version="1.1.135" targetFramework="net48" />
  <package id="OpenTK" version="3.3.1" targetFramework="net48" />
  <package id="OpenTK.GLWpfControl" version="3.3.0" targetFramework="net48" />
  <package id="SharpVectors" version="1.8.5" targetFramework="net48" />
  <package id="SharpVectors.Wpf" version="1.8.5" targetFramework="net48" />
  <package id="SkiaSharp" version="3.119.0" targetFramework="net48" />
  <package id="SkiaSharp.HarfBuzz" version="3.119.0" targetFramework="net48" />
  <package id="SkiaSharp.NativeAssets.macOS" version="3.119.0" targetFramework="net48" />
  <package id="SkiaSharp.NativeAssets.Win32" version="3.119.0" targetFramework="net48" />
  <package id="SkiaSharp.Views.Desktop.Common" version="3.119.0" targetFramework="net48" />
  <package id="SkiaSharp.Views.WPF" version="3.119.0" targetFramework="net48" />
  <package id="Stub.System.Data.SQLite.Core.NetFramework" version="1.0.119.0" targetFramework="net48" />
  <package id="Stub.System.Data.SQLite.Core.NetStandard" version="1.0.119.0" targetFramework="net48" />
  <package id="System.Buffers" version="4.6.1" targetFramework="net48" />
  <package id="System.CodeDom" version="10.0.0-preview.7.25380.108" targetFramework="net48" />
  <package id="System.Data.SQLite.EF6" version="1.0.119.0" targetFramework="net48" />
  <package id="System.Data.SQLite.Linq" version="1.0.119.0" targetFramework="net48" />
  <package id="System.Drawing.Common" version="10.0.0-preview.7.25380.108" targetFramework="net48" />
  <package id="System.IO.Pipelines" version="10.0.0-preview.7.25380.108" targetFramework="net48" />
  <package id="System.Management" version="10.0.0-preview.7.25380.108" targetFramework="net48" />
  <package id="System.Memory" version="4.6.3" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.6.1" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.1.2" targetFramework="net48" />
  <package id="System.Security.AccessControl" version="5.0.0" targetFramework="net48" />
  <package id="System.Security.Principal.Windows" version="5.0.0" targetFramework="net48" />
  <package id="System.Text.Encodings.Web" version="10.0.0-preview.7.25380.108" targetFramework="net48" />
  <package id="System.Text.Json" version="10.0.0-preview.7.25380.108" targetFramework="net48" />
  <package id="System.Threading.Tasks.Extensions" version="4.6.3" targetFramework="net48" />
  <package id="System.ValueTuple" version="4.6.1" targetFramework="net48" />
  <package id="TaskScheduler" version="2.12.2" targetFramework="net48" />
</packages>